.s-all-info-pokemons {
  position: relative;
  padding-top: 11.9rem;
  margin-top: -28.8rem;
  z-index: 2;

  .top {
    @include flex(row, flex-start, space-between);
    height: 16.8rem;

    h2 {
      max-width: 26.5rem;
    }

    .search {
      margin-top: 2.2rem;
    }
  }

  .area-all {
    display: flex;

    .left-container {
      width: 100%;
      max-width: 23.9rem;
      border-right: 1px solid #EFF3F6;
      padding-top: 7.1rem;

      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 4rem;
          }
        }
      }
    }

    .right-container {
      width: 100%;
      padding-top: 7.1rem;
      padding-left: 7.5rem;
      padding-bottom: 8.8rem;

      .top-container {
        margin-bottom: 6.3rem;
        &>div {
          display: flex;
          align-items: center;

          span {
            color: #4D5053;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 150%;
            margin-left: 0.6rem;
          }
        }
      }

      .all {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.2rem;
        margin-bottom: 6.8rem;
      }
      .btnLoadMore {
        display: table;
        margin: 0 auto;
      }
    }
  }
}