.tag {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 24.4rem;
  max-width: 12.1rem;
  padding: 0.6rem 0.4rem;

  &.blueTag {
    .icon {
      background-color: rgba(63, 104, 186, 0.15);
    }

    span {
      color: var(--blue)
    }
  }

  .icon {
    width: 2.6rem;
    height: 2.6rem;
    background-color: rgba(194, 0, 0, 0.12);
    border-radius: 50%;
    @include centerTotalFlex;
    margin-right: 0.8rem;
  }

  span {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    color: var(--red)
  }
}

.search {
  background-color: var(--white);
  border-radius: 12.2rem;
  width: 100%;
  max-width: 40.3rem;
  height: 5.6rem;
  @include flex(row, center, space-between);
  padding-left: 2.4rem;
  padding-right: 0.7rem;

  input[type=text] {
    border: 0;
    outline: none;
    width: 80%;
    font-size: 1.5rem;
    line-height: 150%;
    color: #A0AFBA;

    &::placeholder {
      color: #A0AFBA;
    }
  }

  button {
    width: 4.2rem;
    height: 4.2rem;
    background-color: rgba(158, 185, 225, 0.1);
    border-radius: 50%;
    border: 1px solid transparent;
    transition: border-color .3s;

    &:hover {
      border-color: var(--blue);
    }

    @include centerTotalFlex;
  }
}

.typeFilter {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all .3s;

  &:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  &:active {
    filter: grayscale(0%);
    opacity: 1;
  }

  .icon {
    width: 2.8rem;
    height: 2.8rem;
    @include centerTotalFlex;
    margin-right: 0.5rem;
  }

  span {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
  }

  &.all {
    span {
      color: var(--blue);
    }
  }

  &.ghost {
    span {
      color: var(--type-ghost);
    }
  }

  &.bug {
    span {
      color: var(--type-bug);
    }
  }

  &.dark {
    span {
      color: var(--type-dark);
    }
  }

  &.dragon {
    span {
      color: var(--type-dragon);
    }
  }

  &.eletric {
    span {
      color: var(--type-electric);
    }
  }

  &.fairy {
    span {
      color: var(--type-fairy);
    }
  }

  &.fighting {
    span {
      color: var(--type-fighting);
    }
  }

  &.ground {
    span {
      color: var(--type-ground);
    }
  }

  &.ice {
    span {
      color: var(--type-ice);
    }
  }

  &.normal {
    span {
      color: var(--type-normal);
    }
  }

  &.poison {
    span {
      color: var(--type-poison);
    }
  }

  &.psychic {
    span {
      color: var(--type-psychic);
    }
  }

  &.rock {
    span {
      color: var(--type-rock);
    }
  }

  &.grass {
    span {
      color: var(--type-grass);
    }
  }

  &.steel {
    span {
      color: var(--type-steal);
    }
  }

  &.water {
    span {
      color: var(--type-water);
    }
  }

  &.fire {
    span {
      color: var(--type-fire);
    }
  }

  &.flying {
    span {
      color: var(--type-flying);
    }
  }
}

.cardPokemon {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 28rem;
  height: 30.4rem;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  transition: all .3s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
  }

  &.grass {
    .image {
      &:after {
        background-color: var(--type-grass-opacity);
      }
    }
  }

  &.bug {
    .image {
      &:after {
        background-color: var(--type-bug-opacity);
      }
    }
  }

  &.dark {
    .image {
      &:after {
        background-color: var(--type-dark-opacity)
      }
    }
  }

  &.dragon {
    .image {
      &:after {
        background-color: var(--type-dragon-opacity);
      }
    }
  }

  &.electric {
    .image {
      &:after {
        background-color: var(--type-electric-opacity);
      }
    }
  }

  &.fairy {
    .image {
      &:after {
        background-color: var(--type-fairy-opacity);
      }
    }
  }

  &.fighting {
    .image {
      &:after {
        background-color: var(--type-fighting-opacity);
      }
    }
  }

  &.ground {
    .image {
      &:after {
        background-color: var(--type-ground-opacity);
      }
    }
  }

  &.ice {
    .image {
      &:after {
        background-color: var(--type-ice-opacity);
      }
    }
  }

  &.normal {
    .image {
      &:after {
        background-color: var(--type-normal-opacity);
      }
    }
  }

  &.poison {
    .image {
      &:after {
        background-color: var(--type-poison-opacity);
      }
    }
  }

  &.psychic {
    .image {
      &:after {
        background-color: var(--type-psychic-opacity);
      }
    }
  }

  &.rock {
    .image {
      &:after {
        background-color: var(--type-rock-opacity);
      }
    }
  }

  &.ghost {
    .image {
      &:after {
        background-color: var(--type-ghost-opacity);
      }
    }
  }

  &.steal {
    .image {
      &:after {
        background-color: var(--type-steal-opacity);
      }
    }
  }

  &.water {
    .image {
      &:after {
        background-color: var(--type-water-opacity);
      }
    }
  }

  &.fire {
    .image {
      &:after {
        background-color: var(--type-fire-opacity);
      }
    }
  }

  &.flying {
    .image {
      &:after {
        background-color: var(--type-flying-opacity);
      }
    }
  }

  .image {
    position: relative;
    width: 20rem;
    height: 20rem;
    @include centerTotalFlex;
    margin: 0 auto;
    margin-bottom: 1.4rem;

    &:after {
      content: "";
      width: 16.5rem;
      height: 16.5rem;
      position: absolute;
      z-index: -1;
      border-radius: 50%
    }
  }

  .info {
    @include flex (row, flex-end, space-between);
    padding: 0 2.8rem;

    .text {
      span {
        text-align: left;
        display: block;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 150%;
        color: #7a7d80;
        margin-bottom: 0.6rem;
      }
    }

    .icon {
      margin-bottom: 1rem;
    }
  }
}

.tagType {
  display: inline-block;
  padding: 0 2.5rem;
  line-height: 2.4rem;
  border-radius: 2px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.13px;
  font-family: 'Montserrat', sans-serif;

  &.bug {
    color: var(--type-bug);
    background-color: var(--type-bug-opacity);
  }

  &.ghost {
    color: var(--type-ghost);
    background-color: var(--type-ghost-opacity);
  }

  &.dark {
    color: var(--type-dark);
    background-color: var(--type-dark-opacity);
  }

  &.dragon {
    color: var(--type-dragon);
    background-color: var(--type-dragon-opacity);
  }

  &.eletric {
    color: var(--type-electric);
    background-color: var(--type-electric-opacity);
  }

  &.fairy {
    color: var(--type-fairy);
    background-color: var(--type-fairy-opacity);
  }

  &.fighting {
    color: var(--type-fighting);
    background-color: var(--type-fighting-opacity);
  }

  &.ground {
    color: var(--type-ground);
    background-color: var(--type-ground-opacity);
  }

  &.ice {
    color: var(--type-ice);
    background-color: var(--type-ice-opacity);
  }

  &.normal {
    color: var(--type-normal);
    background-color: var(--type-normal-opacity);
  }

  &.poison {
    color: var(--type-poison);
    background-color: var(--type-poison-opacity);
  }

  &.psychic {
    color: var(--type-psychic);
    background-color: var(--type-psychic-opacity);
  }

  &.rock {
    color: var(--type-rock);
    background-color: var(--type-rock-opacity);
  }

  &.grass {
    color: var(--type-grass);
    background-color: var(--type-grass-opacity);
  }

  &.steel {
    color: var(--type-steal);
    background-color: var(--type-steal-opacity);
  }

  &.water {
    color: var(--type-water);
    background-color: var(--type-water-opacity);
  }

  &.fire {
    color: var(--type-fire);
    background-color: var(--type-fire-opacity);
  }

  &.flying {
    color: var(--type-flying);
    background-color: var(--type-flying-opacity);
  }

}

.btnLoadMore {
  border-radius: 6px;
  background-color: rgba(63, 93, 179, 0.10);
  padding: 1.4rem 2rem;
  color: var(--blue-primary);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.14px;
  transition: all .3s;

  &:hover {
    background-color: var(--blue-primary);
    color: var(--white);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex(column, center, center);
  z-index: 2022;

  &[typePokemonModal="grass"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/grass.svg");
      }
    }
  }

  &[typePokemonModal="bug"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/bug.svg");
      }
    }
  }

  &[typePokemonModal="dark"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/dark.svg");
      }
    }
  }

  &[typePokemonModal="electric"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/electric.svg");
      }
    }
  }

  &[typePokemonModal="fairy"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/fairy.svg");
      }
    }
  }

  &[typePokemonModal="fighting"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/fighting.svg");
      }
    }
  }

  &[typePokemonModal="fire"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/fire.svg");
      }
    }
  }

  &[typePokemonModal="flying"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/flying.svg");
      }
    }
  }

  &[typePokemonModal="ghost"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/ghost.svg");
      }
    }
  }

  &[typePokemonModal="ground"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/ground.svg");
      }
    }
  }

  &[typePokemonModal="ice"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/ice.svg");
      }
    }
  }

  &[typePokemonModal="normal"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/normal.svg");
      }
    }
  }

  &[typePokemonModal="poison"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/poison.svg");
      }
    }
  }

  &[typePokemonModal="psychic"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/psychic.svg");
      }
    }
  }

  &[typePokemonModal="rock"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/rock.svg");
      }
    }
  }

  &[typePokemonModal="steel"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/steel.svg");
      }
    }
  }

  &[typePokemonModal="water"] {
    .box {
      .leftContainer {
        background-image: url("/assets/bg-types/water.svg");
      }
    }
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(0, 0, 0, 0.5);
  }

  .box {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 71rem;
    height: 50.8rem;
    background-color: var(--white);
    border-radius: 1.6rem;
    box-shadow: 0px 10px 40px 0px rgba(13, 12, 71, 0.05);
    display: flex;

    .close {
      position: absolute;
      width: 3.6rem;
      height: 3.6rem;
      top: -4.4rem;
      right: 0;
      border-radius: 8px;
      background: var(--white);
      @include centerTotalFlex();
      cursor: pointer;
    }

    .leftContainer {
      position: relative;
      width: 100%;
      max-width: 19.1rem;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;

      .icon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 3.4rem;
        height: 3.4rem;
        background-color: var(--white);
        border-radius: 50%;
        @include centerTotalFlex();

      }

      .image {
        position: absolute;
        left: 1.4rem;
        bottom: 13.1rem;
        width: 20.2rem;

        img {
          width: 100%;
        }
      }
    }

    .rightContainer {
      padding: 3.5rem 7.2rem 2.9rem 7.4rem;

      .name {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;

        h2 {
          color: #2F3133;
          font-size: 2.8rem;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.28px;
        }

        span {
          position: relative;
          top: -3px;
          margin-left: 0.8rem;
          color: #7A7D80;
          text-align: center;
          font-family: 'Montserrat', sans-serif;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2rem;
          letter-spacing: -0.16px;
        }
      }

      .type {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 3.2rem;

        li {
          &:not(:first-child) {
            margin-left: 1rem;
          }
        }
      }

      .info {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3.2rem;

        li {
          &:not(:first-child) {
            margin-left: 4.8rem;
          }

          span {
            display: block;
            color: #7A7D80;
            font-size: 1.3rem;
            line-height: 1.6rem;
            letter-spacing: -0.13px;
            margin-bottom: 4px;
          }

          strong {
            color: #2F3133;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.7rem;
            letter-spacing: -0.14px;
          }
        }
      }

      .weak {
        margin-bottom: 3.2rem;

        h4 {
          color: #4D5053;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.6rem;
          letter-spacing: -0.13px;
          margin-bottom: 1.6rem;
        }

        ul {
          display: flex;
          align-items: center;
          width: 100%;
          flex-wrap: wrap;

          li {
            &:not(:first-child) {
              margin-left: 1rem;
            }
          }
        }
      }

      .stats {
        h5 {
          color: #4D5053;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.6rem;
          letter-spacing: -0.13px;
          margin-bottom: 1.6rem;
        }

        .allStats {
          .item {
            display: flex;
            @include flex(row, center, space-between);

            &:not(:last-child) {
              margin-bottom: 1.3rem;
            }

            span {
              display: block;
              width: 6.8rem;
              color: #7A7D80;
              font-size: 12px;
              font-weight: 400;
              line-height: 1.5rem;
            }

            .barStatus {
              position: relative;
              width: 100%;
              max-width: 28.3rem;
              height: 0.3rem;
              background-color: #EFF3F6;

              .bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 56%;
                height: 100%;
                z-index: 0;
                background-color: var(--red);
              }

              .separator {
                position: absolute;
                top: 0;
                left: 0;
                @include flex (row, center, center);
                width: 100%;

                li {
                  width: 4px;
                  height: 3px;
                  background-color: var(--white);

                  &:not(:first-child) {
                    margin-left: 5.4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}